.text-resize__icon {
  cursor: pointer;
  padding: 5px;
}
.text-resize__icon:hover {
  opacity: 0;
}

@media(max-width: 930px){
  .text-resize__label,
  .text-resize__icon{
    font-size: 10px;
  }
}
