.block-social-network {
  margin: 0 auto;

  ul {
    display: flex;
    margin: 0;

    li {
      margin-left: 0.75em;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .position-h ul {
    flex-direction: row;
  }

  .position-v ul {
    flex-direction: column;
  }

  .icon-social-network {
    border: 1px solid;
    width: 18px;
    height: 18px;
    padding: 3px;
    border-radius: 4px;
    color: var(--turquesa);
    background-color: var(--bs-white);
  }
}