<div class="region-we-mega-menu region-we-mega-menu-bagov"> 
  <a class="navbar-toggle collapsed">
    <i class="fa-solid fa-bars"></i>
  </a>

  <nav {{ attributes }}>
    <div class="container-fluid">
      {{ content }}
    </div>
  </nav>
</div>