{#
/**
 * @file
 * Default theme implementation for a creative commons block.
 *
 * Available variables:
 * - content: Content to display, including:
 *   - output: The button HTML output.
 *
 * @see template_preprocess_creative_commons_block()
 *
 * @ingroup themeable
 */
#}
<div class="content">
  <div class="creative-commons d-flex flex-md-row flex-column justify-content-center gap-2 align-items-center">
    {{ content.output }}
  </div>
</div>
