
{{ attach_library('bagov_base_blocks/slick') }}
{{ attach_library('bagov_base_blocks/views_teste') }}


<div class="single-item">
  <div>teste1</div>
  <div>teste2</div>
  <div>teste3</div>
</div>



