.block-bagov-base-views-block-links-rapidos h2 {
  font-weight: bolder;
  font-size: 2rem;
  white-space: normal;
  color: #fff !important;
  width: 6rem;
  margin-bottom: 4rem;
}

.block-bagov-base-views-block-links-rapidos {
  margin-top: 2px;
  padding: 48px 0px 24px 24px;
}

.block-bagov-base-views-block-links-rapidos h4 {
  color: #dc622b;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
}

.block-bagov-base-views-block-links-rapidos .card {
  background-color: #ffc78b;
  width: 80%;
  height: 200px;
}

.block-bagov-base-views-block-links-rapidos .fontawesome-icons {
  font-size: 4rem;
  color: #f07d00;
  margin: 1rem;
}
