.row.youtube.video-player iframe{
    height: 670px;
}

.img-dots-container .slick-dots li {
    position: unset;
    display: unset;
    height: 100%;
    width: 33.33333333%;
    margin: unset;
    padding: unset;
    cursor: pointer;
}

.img-dots-container .slick-dots {
    position: unset;
    bottom: unset;
    list-style: none;
    display: flex;
    text-align: unset;
    padding: unset;
    margin: unset;
    width: unset;
}

.img-dots-container .slick-dots ul {
    padding-left: 0rem;
}

.img-dots-container .slick-dots ul li:first-child{
    padding-left: 0;
}

.youtube.img-dot.dot-1 {
    padding-right: 20px;
}

.youtube.img-dot.dot-2 {
    padding: 0px 10px 0px 10px;
}

.youtube.img-dot.dot-3 {
    margin-left: 20px;
}

.img-dots-container {
    margin-bottom: 30px;
}

.block-views-blockvideos-do-youtube-player-home h2 {
    color: #25b7bc;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 1.5em;
}

@media (max-width: 991.98px) {
    .row.youtube.video-player iframe{
        height: unset;
    }
 }